Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  -performance-no-int-to-ptr,
  modernize-*,
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: '*'
HeaderFilterRegex: '(src|include)/'
